<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SMS</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CommaddServlet</display-name>
    <servlet-name>CommaddServlet</servlet-name>
    <servlet-class>CommodityServlet.CommaddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommaddServlet</servlet-name>
    <url-pattern>/CommaddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommdeleteServlet</display-name>
    <servlet-name>CommdeleteServlet</servlet-name>
    <servlet-class>CommodityServlet.CommdeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommdeleteServlet</servlet-name>
    <url-pattern>/CommdeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommupdateServlet</display-name>
    <servlet-name>CommupdateServlet</servlet-name>
    <servlet-class>CommodityServlet.CommupdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommupdateServlet</servlet-name>
    <url-pattern>/CommupdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommcheckoneServlet</display-name>
    <servlet-name>CommcheckoneServlet</servlet-name>
    <servlet-class>CommodityServlet.CommcheckoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommcheckoneServlet</servlet-name>
    <url-pattern>/CommcheckoneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxServlet</display-name>
    <servlet-name>AjaxServlet</servlet-name>
    <servlet-class>Ajax.manageAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServlet</servlet-name>
    <url-pattern>/manageAjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Commall</display-name>
    <servlet-name>Commall</servlet-name>
    <servlet-class>CommodityServlet.CommallServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Commall</servlet-name>
    <url-pattern>/CommallServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>manageregisterServlet</display-name>
    <servlet-name>manageregisterServlet</servlet-name>
    <servlet-class>CommodityServlet.manageregisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageregisterServlet</servlet-name>
    <url-pattern>/manageregisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addAjaxServlet</display-name>
    <servlet-name>addAjaxServlet</servlet-name>
    <servlet-class>Ajax.addAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addAjaxServlet</servlet-name>
    <url-pattern>/addAjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>nameServlet</display-name>
    <servlet-name>nameServlet</servlet-name>
    <servlet-class>CommodityServlet.nameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nameServlet</servlet-name>
    <url-pattern>/nameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StartServlet</display-name>
    <servlet-name>StartServlet</servlet-name>
    <servlet-class>CommodityServlet.StartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartServlet</servlet-name>
    <url-pattern>/StartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>allitemServlet</display-name>
    <servlet-name>allitemServlet</servlet-name>
    <servlet-class>CommodityServlet.allitemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allitemServlet</servlet-name>
    <url-pattern>/allitemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateajaxServlet</display-name>
    <servlet-name>updateajaxServlet</servlet-name>
    <servlet-class>Ajax.updateajaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateajaxServlet</servlet-name>
    <url-pattern>/updateajaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateServlet</display-name>
    <servlet-name>updateServlet</servlet-name>
    <servlet-class>CommodityServlet.updateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateServlet</servlet-name>
    <url-pattern>/updateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>manageupdateServlet</display-name>
    <servlet-name>manageupdateServlet</servlet-name>
    <servlet-class>CommodityServlet.manageupdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageupdateServlet</servlet-name>
    <url-pattern>/manageupdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateManageServlet</display-name>
    <servlet-name>updateManageServlet</servlet-name>
    <servlet-class>CommodityServlet.updateManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateManageServlet</servlet-name>
    <url-pattern>/updateManageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllShopServlet</display-name>
    <servlet-name>AllShopServlet</servlet-name>
    <servlet-class>ShopServlet.AllShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllShopServlet</servlet-name>
    <url-pattern>/marcket/AllShopServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddShopServlet</display-name>
    <servlet-name>AddShopServlet</servlet-name>
    <servlet-class>ShopServlet.AddShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddShopServlet</servlet-name>
    <url-pattern>/marcket/AddShopServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopSaleServlet</display-name>
    <servlet-name>ShopSaleServlet</servlet-name>
    <servlet-class>ShopServlet.ShopSaleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopSaleServlet</servlet-name>
    <url-pattern>/marcket/ShopSaleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateShopServlet</display-name>
    <servlet-name>updateShopServlet</servlet-name>
    <servlet-class>ShopServlet.updateShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateShopServlet</servlet-name>
    <url-pattern>/marcket/updateShopServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteShopServlet</display-name>
    <servlet-name>deleteShopServlet</servlet-name>
    <servlet-class>ShopServlet.deleteShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteShopServlet</servlet-name>
    <url-pattern>/marcket/deleteShopServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateSalServlet</display-name>
    <servlet-name>updateSalServlet</servlet-name>
    <servlet-class>ShopServlet.updateSalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateSalServlet</servlet-name>
    <url-pattern>/marcket/updateSalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>allStoreServlet</display-name>
    <servlet-name>allStoreServlet</servlet-name>
    <servlet-class>ShopServlet.allStoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allStoreServlet</servlet-name>
    <url-pattern>/Mstorehome/allStoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsinServlet</display-name>
    <servlet-name>GoodsinServlet</servlet-name>
    <servlet-class>ShopServlet.GoodsinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsinServlet</servlet-name>
    <url-pattern>/getin/GoodsinServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteStoreServlet</display-name>
    <servlet-name>deleteStoreServlet</servlet-name>
    <servlet-class>ShopServlet.deleteStoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteStoreServlet</servlet-name>
    <url-pattern>/Mstorehome/deleteStoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>allCommsaleServlet</display-name>
    <servlet-name>allCommsaleServlet</servlet-name>
    <servlet-class>ShopServlet.allCommsaleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allCommsaleServlet</servlet-name>
    <url-pattern>/sale/allCommsaleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaleCommServlet</display-name>
    <servlet-name>SaleCommServlet</servlet-name>
    <servlet-class>ShopServlet.SaleCommServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaleCommServlet</servlet-name>
    <url-pattern>/sale/SaleCommServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>saleRecordServlet</display-name>
    <servlet-name>saleRecordServlet</servlet-name>
    <servlet-class>ShopServlet.saleRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saleRecordServlet</servlet-name>
    <url-pattern>/sale/saleRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalaryServlet</display-name>
    <servlet-name>SalaryServlet</servlet-name>
    <servlet-class>ShopServlet.SalaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalaryServlet</servlet-name>
    <url-pattern>/sale/SalaryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaledateRecordServlet</display-name>
    <servlet-name>SaledateRecordServlet</servlet-name>
    <servlet-class>ShopServlet.SaledateRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaledateRecordServlet</servlet-name>
    <url-pattern>/sale/SaledateRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockwarnServlet</display-name>
    <servlet-name>StockwarnServlet</servlet-name>
    <servlet-class>ShopServlet.StockwarnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockwarnServlet</servlet-name>
    <url-pattern>/Mstorehome/StockwarnServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckallemServlet</display-name>
    <servlet-name>CheckallemServlet</servlet-name>
    <servlet-class>CommodityServlet.CheckallemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckallemServlet</servlet-name>
    <url-pattern>/employee/CheckallemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddempServlet</display-name>
    <servlet-name>AddempServlet</servlet-name>
    <servlet-class>CommodityServlet.AddempServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddempServlet</servlet-name>
    <url-pattern>/employee/AddempServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckremarkServlet</display-name>
    <servlet-name>CheckremarkServlet</servlet-name>
    <servlet-class>CommodityServlet.CheckremarkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckremarkServlet</servlet-name>
    <url-pattern>/employee/CheckremarkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpcheckajaxServlet</display-name>
    <servlet-name>EmpcheckajaxServlet</servlet-name>
    <servlet-class>Ajax.EmpcheckajaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpcheckajaxServlet</servlet-name>
    <url-pattern>/employee/EmpcheckajaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckempServlet</display-name>
    <servlet-name>CheckempServlet</servlet-name>
    <servlet-class>CommodityServlet.CheckempServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckempServlet</servlet-name>
    <url-pattern>/employee/CheckempServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckallvipServlet</display-name>
    <servlet-name>CheckallvipServlet</servlet-name>
    <servlet-class>CommodityServlet.CheckallvipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckallvipServlet</servlet-name>
    <url-pattern>/vip/CheckallvipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckvipServlet</display-name>
    <servlet-name>CheckvipServlet</servlet-name>
    <servlet-class>CommodityServlet.CheckvipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckvipServlet</servlet-name>
    <url-pattern>/vip/CheckvipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>vipcheckajaxServlet</display-name>
    <servlet-name>vipcheckajaxServlet</servlet-name>
    <servlet-class>Ajax.vipcheckajaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vipcheckajaxServlet</servlet-name>
    <url-pattern>/vip/vipcheckajaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddvipServlet</display-name>
    <servlet-name>AddvipServlet</servlet-name>
    <servlet-class>CommodityServlet.AddvipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddvipServlet</servlet-name>
    <url-pattern>/vip/AddvipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatemoneyServlet</display-name>
    <servlet-name>updatemoneyServlet</servlet-name>
    <servlet-class>CommodityServlet.updatemoneyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatemoneyServlet</servlet-name>
    <url-pattern>/employee/updatemoneyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateemServlet</display-name>
    <servlet-name>updateemServlet</servlet-name>
    <servlet-class>CommodityServlet.updateemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateemServlet</servlet-name>
    <url-pattern>/employee/updateemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteemServlet</display-name>
    <servlet-name>deleteemServlet</servlet-name>
    <servlet-class>CommodityServlet.deleteemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteemServlet</servlet-name>
    <url-pattern>/employee/deleteemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatejobServlet</display-name>
    <servlet-name>updatejobServlet</servlet-name>
    <servlet-class>CommodityServlet.updatejobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatejobServlet</servlet-name>
    <url-pattern>/employee/updatejobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletevipServlet</display-name>
    <servlet-name>deletevipServlet</servlet-name>
    <servlet-class>CommodityServlet.deletevipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletevipServlet</servlet-name>
    <url-pattern>/vip/deletevipServlet</url-pattern>
  </servlet-mapping>
</web-app>