@charset "UTF-8";

*{
	margin:0px;
	padding:0px;
}

body{
	background-color:snow;
}

.add{
	
	width:60%;
	height:490px;
	background-color: #e9e9e9;
	margin:10px auto;
	border-radius: 20px;
}

#div1{
	height:15%;
	width:100%;
	background-color: #1ddc48;
	border-radius: 20px 20px 0 0;
}

h2{
	float:left;
	padding-top:18px;
	padding-bottom:15px;
	padding-left:20px;
}

table{
	padding-top:10px;
	padding-left:150px;
}

td{
	padding:5px 5px;
	font-size:20px;
}

td:first-child{
	text-align: right;
	
	
}

table input{
	height:30px;
	width:300px;
	border-radius: 2px;
	border-style: none; 
}

.foot{
    height:10%;
	width:100%;
	margin-left:190px;
}

.foot input{
	height:40px;
	width:85px;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: bold;
	background-color: #9542f0;
	 border-radius: 10px; 
	border-style: none;
	color:white;
	margin-left:100px;
	margin-top:10px;
}

.foot input:hover,.foot input:active{
	color:darkgray;
}